body{
    background-image: url(startpage.png.png);
    background-size: cover;
}
.start{
    position: absolute;
    left: 50%;
    top: 78%; /* adjust this number */
    transform: translateX(-50%);

    font-size: 25px;
    font-family: 'Pinyon Script';
    background-color: #453228;
    color: #fdd55e;
    border: none;
    border-radius: 10px;
    padding: 12px 24px;
    cursor: pointer;
}
.next-btn {
    position: fixed; /* or absolute */
    bottom: 20px;
    right: 20px;

    width: 110px;
    height: 65px;

    background-color: #4a2f24;
    border: none;
    border-radius: 20px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.3s ease;
}

.next-btn span {
    color: #f6c85f;
    font-size: 28px;
}

.next-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(246, 200, 95, 0.5);
}
.buttons{
    position: absolute;
    top: 550px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    gap: 80px;
}

.yes,
.no{
    width: 110px;
    height: 70px;

    border: none;
    border-radius: 20px;

    background: #4e352c;
    color: red;

    font-size: 35px;
    cursor: pointer;
}

.yes:hover,
.no:hover{
    transform: scale(1.1);
}
.YES{
    position: absolute;
    left: 50%;
    top: 78%; /* adjust this number */
    transform: translateX(-50%);

    font-size: 25px;
    font-family: 'Pinyon Script';
    background-color: #453228;
    color: #fdd55e;
    border: none;
    border-radius: 10px;
    padding: 12px 24px;
    cursor: pointer;
}
.HEHE{
    position: absolute;
    left: 50%;
    top: 78%; /* adjust this number */
    transform: translateX(-50%);

    font-size: 25px;
    font-family: 'Pinyon Script';
    background-color: #453228;
    color: #fdd55e;
    border: none;
    border-radius: 10px;
    padding: 12px 24px;
    cursor: pointer;
}
h1{
    color: #1C0000;
    font-family: 'Pinyon Script';
    font-size: 115px;
    text-align: center;

}
h2{
    color: #1C0000;
    font-family: 'Pinyon Script';
    font-size: 95px;
    text-align: left;
    font-weight: bold;
}
h3{
    color: #1C0000;
    font-size: 88px;
    text-align: left;
    font-weight: bold;
}
h4{
    color: black;
    font-family: 'Playfair Display';
    font-size: 65px;
    text-align: center;

    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
}
h5{
 color: black;
    font-family: 'Playfair Display';
    font-size: 65px;
    text-align: center;

    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
}
.odd{
    color: black;
    font-family: 'Playball';
    font-size: 40px;
    text-align: center;
}
.even{
    color: black;
    font-family: 'Playball';
    font-size: 40px;
    text-align: center;
}
.fullscreen-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.page2{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.page3{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}